<h1><%= @game.title %></h1>
<h2>Developed by <a href='/studios/<%= @game.studio.id %>'><%= @game.studio.name %></a>, Submitted by <%= @game.submitted_by %></h2>
<h3>Genre: <%= @game.genre %></h3>
<h4>Description: <%= @game.description %></h4>