<h1>Welcome, <%= @user.username %></h1>
<h2>You are currently affiliated with <a href='/studios/<%= @user.studio_id %>'><%= @user.studio.name %></a></h2>

<ul><strong>Games submitted by You:</strong>
    <% @user.games.each do |game| %>
        <li><a href='/games/<%= game.id %>'><%= game.title %></a></li>
    <% end %>
</ul><br>
<form id="new-game-form" action='/games/new' method='GET'>
    <input type="submit" value="Add Game">
</form>