<h1><%= @studio.name %></h1>
<div>
<ul> Games:
<% @studio.games.each do |game| %>
    <li><a href='/games/<%= game.id %>'><%= game.title %></a></li>
<% end %>
</ul>
<div>
<br>
<div>
<ul> Affiliated Users:
<% @studio.users.each do |user| %>
    <li><a href='/users/<%= user.id %>'><%= user.username %></a></li>
<% end %>
</ul>
<div>